container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "learning_log.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "learning_log/learning_log/wsgi.py"

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /html: "/static/=www/static/"
    
    
packages:
  yum:
    postgresql95-devel: []